# Игнорирование файлов виртуальных окружений Python
venv/
.env

chroma_data/
# Игнорирование служебных файлов Python
__pycache__/
*.pyc

# Игнорирование файлов настроек IDE
.vscode/
.idea/

# Игнорирование файлов журналов
*.log
*.idea/
*.git/
# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db
